:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --btn-main-color: #4d5ae5;
  --btn-second-color: #f4f4fd;
  --footer-text: #f4f4fd;
  --accent-bg-color: #2e2f42;
  --secondary-acnt-bg-color: #f4f4fd;
  --focus-hover: #404bbf;
  --main-gradient: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

}

img {
  display: block;
}

body {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Header 2 */
.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Header 3 */
.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}


.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/**
  |============================
  | Header
  |============================
*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.navigation {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  align-items: center;
  margin-right: 76px;

  color: var(--btn-main-color);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.highlight {
  color: var(--primary-text-color);
}

/* Menu */
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list:last-child {
  margin-right: 0px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.nav-link.active::after {
  content: "";

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-hover);

  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--focus-hover);
}

.nav-link-text {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Address - contacts navigation*/
.address {
  display: flex;
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
}

.address-item {
  margin-right: 40px;
}

.address-item:last-child {
  margin-right: 0px;
}

.address-link {
  display: flex;

  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/**
  |============================
  | Hero - Section 1
  |============================
*/
.hero {
  display: flex;
  justify-content: center;
  padding: 188px 0;
  margin: 0 auto;
  width: 1440px;
  background-color: var(--accent-bg-color);
  background-image: var(--main-gradient), url(../images/hero/bg-people-office.jpg);
}

.hero-title {
  display: block;
  width: 496px;

  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--accent-text-color);
}

.button {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 48px;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  color: var(--accent-text-color);
  background-color: var(--btn-main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}

/**
  |============================
  | Features - Section 2
  |============================
*/

.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list .item:last-child {
  margin-right: 0px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--secondary-acnt-bg-color);
}

.features-icon {
  margin: 24px 100px;
}

.feature-subtitle {
  margin: 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.feature-text {
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.sample-list {
  background-color: var(--primary-bg-color);
}

/**
  |============================
  | What we are doing - Section 3
  |============================
*/
.samples {
  padding: 0 0 120px 0;
  min-height: 412px;
}

.samples-title {
  margin-bottom: 72px;
}

.samples-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.sample-list:last-child {
  margin-right: 0;
}

.sample-item {
  width: calc((100% - 2 * 24px) / 3);
}

/**
  |============================
  | Our Team - Section 4
  |============================
*/
.team {
  background-color: var(--secondary-acnt-bg-color);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 24px * 3) / 4);
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  margin-right: 0;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-member {
  padding: 32px 16px;
}

.team-text {
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--btn-main-color);
  border-radius: 50%;
}

.team-soc-link:hover {
  background-color: #31D0AA;
}

/**
  |============================
  | Customers - Section 5
  |============================
*/

.section-title {
  margin-top: 120px;
  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 124px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8E8F99;

}

.clients-icon {
  fill: #8E8F99;
}

.clients-link:hover .clients-icon {
  fill: #404BBF;
}

.clients-link:hover {
  border-color: #404BBF;
}

/* ---BUTTONS--- */
.button:hover,
.button:focus {
  color: var(--accent-text-color);
  background-color: #404bbf;
}

.button:active {
  color: var(--accent-text-color);
  background-color: #404bbf;
}

.button.primary {
  /* display: block; */
  color: var(--accent-text-color);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--focus-hover);
}

/**
  |============================
  | Footer
  |============================
*/

/* Logo block */
.footer-box {
  display: flex;
  gap: 120px;
}

.footer-logo-box {
  display: block;
  width: 264px;
}

.page-footer {
  padding: 100px 0;
}

.page-footer .link {
  display: inline-block;
  margin: 0 0 16px 0;
  width: 100%;
}

.page-footer .logo-highlight {
  color: #f4f4fd;
}

.page-footer {
  background-color: var(--accent-bg-color);
}


.footer-text-logo {
  color: var(--secondary-acnt-bg-color)
}

/* Social media block */

.footer-soc-list {
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: center;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--btn-main-color);
}

.footer-text-soc {
  margin-bottom: 16px;

  color: var(--accent-text-color);
  font-weight: 500;
}


/**
  |============================
  | SECOND PAGE - Portfolio
  |============================
*/

/**
  |============================
  | 
  |============================
*/


.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px
}

.btn-filter {
  padding: 12px 24px;
  background: #F4F4FD;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  /* Button Text */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4D5AE5;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: #404BBF;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid transparent;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.filter-item {
  width: calc((100% - 24px * 2) / 3);
}

.filter-box {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.filter-titel {
  text-align: left;
  margin-bottom: 8px
}

/**
  |============================
  | Modal styles
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);

}

.backdrop.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 408px;
  height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: #FCFCFC;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #E7E9FC;

}

.modal-icon {
  fill: var(--accent-bg-color);
}